<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
</head>
<body>
    <h1>Авторизация</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="phone_number">Номер телефона:</label>
        <input type="text" id="phone_number" name="phone_number" required>
        <br>
        <label for="invite_code">Инвайт-код (необязательно):</label>
        <input type="text" id="invite_code" name="invite_code">
        <br>
        <button type="submit"><a href="{% url 'users:invite_code' %}" class="text-white">Авторизоваться</button>

    </form>
    {% if messages %}
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
    {% endif %}
</body>
</html>
